.miembros__container {
  background-color: rgb(255, 255, 255);
  min-height: 100%;
  width: 100vw;
  margin: 17px 16px;
  border-radius: 4px;
  padding: 16px;
}

.miembros__form {
  padding: 16px 0px 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.miembros__container h2 {
  font-family: "Montserrat-Medium";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.05px;
}

.miembros__container form {
  display: flex;
  min-width: 350px;
  border-radius: 4px;
  border: 1px solid var(--grey-grey-lighten-1, #bdbdbd);
  height: 40px;
  padding: 4px 12px;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  margin-right: 15px;
}

.miembros__agregar-btn button {
  display: inline-flex;
  height: 40px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background: #1547a0;
  color: var(--shades-white, #fff);
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.525px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.miembros__container form input {
  color: var(--grey-grey-darken-1, #757575);
  font-family: "Roboto-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
  width: 100%;
  border: none;
  outline: none;
  max-width: 350px;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
