.sideBar__container {
  height: 100vh;
  width: 62px;
  background-color: #053265;
  display: flex;
  justify-content: center;
}

.sideBar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.sideBar__menu ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 5px;
  height: 570px;
}

.sideBar__menu ul li img {
  padding-top: 5px;
  padding-bottom: 5px;
}

.sideBar__logo-wrapper {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.sideBar__logo-wrapper img {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  background-color: white;
  padding: 4px;
}

.sideBar__profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.sideBar__profile-wrapper img {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  background-color: white;
  padding: 1px;
}
