.sideBar__container {
  min-height: 100vh;
  width: 62px;
  background-color: #053265;
  display: flex;
  justify-content: center;
}

.sideBar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.sideBar__menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 34px;
  list-style-type: none;
}

.sideBar__menu ul li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sideBar__menu ul li img {
  padding: 5px 15px;
  border-right: 2px solid transparent;
  transition: 0.13s;
  cursor: pointer;
}

.sideBar__menu ul li img:hover {
  border-right: 3px solid rgb(255, 255, 255);
}

.sideBar__logo-wrapper {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.sideBar__logo-wrapper img {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  background-color: white;
  padding: 4px;
}

.sideBar__profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  padding-top: 40px;
}

.sideBar__profile-wrapper img {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  background-color: white;
  padding: 1px;
}
